style
    include button.css
mixin button(text, style)

  case style
    when "arrow"
      button(class="control-button control-button_signup control-button_arrow")= text
        svg.control-button__svg(width="18", height="18", xmlns="http://www.w3.org/2000/svg")
          path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z")
          

    when "gradient"
        button(class="control-button control-button_signup")= text

    when "empty"
        button(class="control-button control-button_login")= text
    

    //- default
    //-   case size
    //-     when "l"
    //-       a(class="btn btn_size_l" href=href)= text
    //-     when "xl"
    //-       a(class="btn btn_size_xl" href=href)= text
    //-     default
    //-       a(class="btn" href=href)= text

